<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="logDirectory" value="${basedir}/logs"/>
  <!--<variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>-->
  <targets async="true">
    <!--<target name="f1" xsi:type="File" fileName="file1.txt"/>
    <target name="f2" xsi:type="File" fileName="f2.txt" keepFileOpen="false"/>
    <target name="n1" xsi:type="Network" address="tcp://localhost:4001"/>
    <target name="ds" xsi:type="OutputDebugString"/>
    <target name="c" xsi:type="Console"  layout="${longdate} ${callsite} ${level} ${message}"/>
     <target name="n1" xsi:type="Network" address="tcp://localhost:4001"/>
    <target name="f" xsi:type="File" fileName="${logger}.txt"/>
    <target name="gmail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="user@gmail.com"
            smtpPassword="password"
            enableSsl="true"
            from="emailaddress@gmail.com"
            to="recipient@example.com"
            cc="alice@example.com;bob@example.com;charlie@example.com"
          />-->
    <target name="dailyLog" xsi:type="File" fileName="${logDirectory}/${shortdate}.log"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="dailyLog" />
    <!--<logger name="*" minlevel="Debug" writeTo="gmail" />-->
  </rules>
</nlog>